@font-face {
  font-family: "iconfont"; /* Project id 4543273 */
  src: url('iconfont.woff2?t=1717172273223') format('woff2'),
       url('iconfont.woff?t=1717172273223') format('woff'),
       url('iconfont.ttf?t=1717172273223') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e630";
}

.icon-gengduo1:before {
  content: "\e744";
}

.icon-liaotian:before {
  content: "\100d9";
}

.icon-shanchu:before {
  content: "\e627";
}

.icon-xihuan1:before {
  content: "\e8c3";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-pinglun:before {
  content: "\e635";
}

.icon-icon-test:before {
  content: "\e658";
}

.icon-icon-test1:before {
  content: "\e659";
}

.icon-gengduo:before {
  content: "\e7a8";
}

.icon-cha:before {
  content: "\e612";
}

.icon-bofang:before {
  content: "\e8a3";
}

.icon-bofang1:before {
  content: "\e600";
}

.icon-shuju:before {
  content: "\e6cd";
}

.icon-xiaoxi:before {
  content: "\e6ce";
}

.icon-xiazai:before {
  content: "\e6cf";
}

.icon-lianjie:before {
  content: "\e6d7";
}

.icon-sousuo:before {
  content: "\e6db";
}

